<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">mtiennnnn</h1>
    <p>
    <span class="reserved">char</span> nick[<span class="number">9</span>] = <span class="string">"{{ site.nick }}"</span>;
    </p>
    <p>
    printf(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/<span class="reserved">%s\n</span>"</span></a>,github);
    </p>
    <p>
    printf(<a href="https://www.facebook.com/m.tiennnnn" target="_blank"><span class="string">"https://facebook.com/<span class="reserved">%s\n</span>"</span></a>,facebook);
    </p>
    <p>
    printf(<span class="string">"<span class="reserved">%s\x40</span><a href="mailto:manhtien1303@gmail.com" target="_blank"><span class="string">"my_gmail/<span class="reserved">\x2e\\\b</span>"</span></a>,mail);
    </p>
    <!-- <p>
            printf(<a href="https://{{ site.blog.nick }}.{{ site.blog.server }}" target="_blank"><span class="string">"https://<span class="reserved">%s</span>.{{ site.blog.server }}<span class="reserved">\n</span>"</span></a>,nick);
        </p> -->
    <p>
    puts("Hello, welcome to my blog :P");
    </p>
  </div>
</header>

{% include menu.html %}
